<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment">


	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/bootstrap/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/bootstrap/js/demo/chart-pie-demo.js}"></script>

</th:block>
</html>


<!-- 
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    Required meta tags
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    Bootstrap CSS
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    sbb CSS
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>ToDoList</title>
</head>
<body>
네비게이션바
<nav th:replace="~{navbar :: navbarFragment}"></nav>
기본 템플릿 안에 삽입될 내용 Start
<th:block layout:fragment="content"></th:block>
기본 템플릿 안에 삽입될 내용 End
Bootstrap JS
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/myscript.js}"></script>
자바스크립트 Start
<th:block layout:fragment="script"></th:block>
자바스크립트 End
</body>
</html> -->