<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- Thymeleaf sidebar fragment -->
    <th:block th:fragment="sidebarFragment">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Your actual sidebar content goes here -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">main page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/signup}">회원가입</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user}">my page</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" th:href="@{/today}">오늘</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" th:href="@{/upcoming}">다음</a>
            </li>                        
             <li class="nav-item">
                <a class="nav-link" th:href="@{/list/create}">일정 추가</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/list/search}">검색</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/project/create}">프로젝트 추가</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" th:href="@{/project/list}">프로젝트 리스트</a>
            </li>                        
            <!-- Add more sidebar items as needed -->
        </ul>
    </th:block>

    <!-- Your body content goes here -->

</body>

</html>