<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
	<div class="my-3 border-bottom">
		<div>
			<h4>회원가입</h4>
		</div>
	</div>
	<form th:action="@{/signup}" th:object="${userDto}" method="post">
		<div class="mb-3">
			<label for="username" class="form-label">ID</label> <input
				type="text" th:field="*{username}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">비밀번호</label> <input
				type="password" th:field="*{password}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="nickname" class="form-label">닉네임</label> <input
				type="text" th:field="*{nickname}" class="form-control">
		</div>

		<div class="mb-3">
			<label for="email" class="form-label">이메일</label> <input type="email"
				th:field="*{email}" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">회원가입</button>
	</form>
	
	<script th:inline="javascript">
		/* Thymeleaf 변수 사용 */
		sendRequest("/signup");
	</script>
	
</div>
</html>